---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
---

<BaseLayout title="You did a bad" description="How did you get here - What did you do?">

	<Hero title="How did you get here - What did you do?" tagline="404 Not found" />


<Grid variant="small">
<div class="tenor-gif-embed" data-postid="26122481" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/404-error-gif-26122481">404 Error GIF</a>from <a href="https://tenor.com/search/404-gifs">404 GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="5012719" data-share-method="host" data-aspect-ratio="1.33333" data-width="100%"><a href="https://tenor.com/view/error-windows-glitch-gif-5012719">Scrolling Through Errors GIF</a>from <a href="https://tenor.com/search/error-gifs">Error GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="26155260" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/error-gif-26155260">Error GIF</a>from <a href="https://tenor.com/search/error-gifs">Error GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="25914438" data-share-method="host" data-aspect-ratio="1.50235" data-width="100%"><a href="https://tenor.com/view/error-404-gif-25914438">Error 404 GIF</a>from <a href="https://tenor.com/search/error-gifs">Error GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="17641897" data-share-method="host" data-aspect-ratio="1.33891" data-width="100%"><a href="https://tenor.com/view/win-error-error-blue-screen-of-death-windows-xp-gif-17641897">Win Error Error GIF</a>from <a href="https://tenor.com/search/win+error-gifs">Win Error GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="18789401" data-share-method="host" data-aspect-ratio="1.33333" data-width="100%"><a href="https://tenor.com/view/error-gif-18789401">Error GIF</a>from <a href="https://tenor.com/search/error-gifs">Error GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="19248739" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/kinda-funny-gary-whitta-error-404-exe-gif-19248739">Kinda Funny Gary Whitta GIF</a>from <a href="https://tenor.com/search/kinda+funny-gifs">Kinda Funny GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="14844976" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/404-whoops-afas-afas-software-erro-gif-14844976">404 Whoops GIF</a>from <a href="https://tenor.com/search/404-gifs">404 GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div class="tenor-gif-embed" data-postid="19117480" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/susi-gif-19117480">Susi GIF</a>from <a href="https://tenor.com/search/susi-gifs">Susi GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</Grid>
</BaseLayout>
